.elementor-1011 .elementor-element.elementor-element-29d4052c {margin-top: 80px;margin-bottom: 80px;}
.elementor-1011 .elementor-element.elementor-element-708dcf58 > .elementor-element-populated {padding: 0% 15% 0% 0%;}
.elementor-1011 .elementor-element.elementor-element-6daff645.elementor-widget-heading .elementor-heading-title {color: #f25c05;}
.elementor-1011 .elementor-element.elementor-element-6daff645 .elementor-heading-title {font-size: 13px;font-weight: 400;text-transform: uppercase;letter-spacing: 2px;}
.elementor-1011 .elementor-element.elementor-element-be1f660 {text-align: left;}
.elementor-1011 .elementor-element.elementor-element-be1f660.elementor-widget-heading .elementor-heading-title {color: #4e4e4e;}
.elementor-1011 .elementor-element.elementor-element-be1f660 .elementor-heading-title {font-size: 45px;font-weight: 300;line-height: 1.2em;}
.elementor-1011 .elementor-element.elementor-element-be1f660 > .elementor-widget-container {margin: 10px 0px 0px 0px;padding: 0% 0% 0% 0%;}
.elementor-1011 .elementor-element.elementor-element-c8ddd45 {color: #9a9a9a;}
.elementor-1011 .elementor-element.elementor-element-2c7f2926 {--divider-border-style: solid;--divider-border-color: #d8d8d8;--divider-border-width: 1px;}
.elementor-1011 .elementor-element.elementor-element-2c7f2926 .elementor-divider-separator {width: 100%;}
.elementor-1011 .elementor-element.elementor-element-2c7f2926 .elementor-divider {padding-top: 0px;padding-bottom: 0px;}
body.elementor-page-1011 #page_caption, .elementor-page-title {display: none;}
@media (max-width:1024px) {.elementor-1011 .elementor-element.elementor-element-29d4052c {margin-top: 60px;margin-bottom: 60px;}
	.elementor-1011 .elementor-element.elementor-element-708dcf58 > .elementor-element-populated {padding: 0% 15% 0% 0%;}
	.elementor-1011 .elementor-element.elementor-element-be1f660 .elementor-heading-title {font-size: 32px;}}
@media (max-width:767px) {.elementor-1011 .elementor-element.elementor-element-29d4052c {margin-top: 40px;margin-bottom: 40px;}
	.elementor-1011 .elementor-element.elementor-element-708dcf58 > .elementor-element-populated {padding: 0px 0px 0px 0px;}}