.elementor-132 .elementor-element.elementor-element-3ee58de3:not(.elementor-motion-effects-element-type-background), .elementor-132 .elementor-element.elementor-element-3ee58de3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #122947;}
.elementor-132 .elementor-element.elementor-element-3ee58de3 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 70px 0px 80px 0px;}
.elementor-132 .elementor-element.elementor-element-3ee58de3 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-132 .elementor-element.elementor-element-25b2230e {text-align: left;}
.elementor-132 .elementor-element.elementor-element-25b2230e.elementor-widget-heading .elementor-heading-title {color: #fea2a7;}
.elementor-132 .elementor-element.elementor-element-25b2230e .elementor-heading-title {font-size: 13px;font-weight: 700;text-transform: uppercase;letter-spacing: 2px;}
.elementor-132 .elementor-element.elementor-element-25b2230e > .elementor-widget-container {margin: 0px 0px 10px 0px;}
.elementor-132 .elementor-element.elementor-element-15cc81cb {text-align: left;}
.elementor-132 .elementor-element.elementor-element-15cc81cb.elementor-widget-heading .elementor-heading-title {color: #fff;}
.elementor-132 .elementor-element.elementor-element-15cc81cb .elementor-heading-title {font-size: 40px;}
.elementor-bc-flex-widget .elementor-132 .elementor-element.elementor-element-59f76f77.elementor-column .elementor-column-wrap {align-items: center;}
.elementor-132 .elementor-element.elementor-element-59f76f77.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-132 .elementor-element.elementor-element-62dd8e30 {padding: 70px 0px 60px 0px;}
.elementor-132 .elementor-element.elementor-element-b11a31d > .elementor-element-populated {margin: 0px 0px 0px 15px;padding: 0px 0px 0px 0px;}
.elementor-132 .elementor-element.elementor-element-1f0d2921 {padding: 0% 0% 0% 0%;}
.elementor-132 .elementor-element.elementor-element-30b61a1f > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-132 .elementor-element.elementor-element-7118d821 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-7118d821 .elementor-heading-title {font-size: 20px;}
.elementor-132 .elementor-element.elementor-element-7118d821 > .elementor-widget-container {margin: 0px 0px 20px 0px;}
.elementor-132 .elementor-element.elementor-element-5994df90 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-5994df90.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-5994df90 .elementor-heading-title {font-size: 14px;}
.elementor-132 .elementor-element.elementor-element-59507aaf {text-align: left;}
.elementor-132 .elementor-element.elementor-element-59507aaf.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-59507aaf .elementor-heading-title {font-size: 14px;}
.elementor-132 .elementor-element.elementor-element-3cd09d09 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-3cd09d09.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-3cd09d09 .elementor-heading-title {font-size: 14px;}
.elementor-132 .elementor-element.elementor-element-7e49ef33 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-7e49ef33.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-7e49ef33 .elementor-heading-title {font-size: 14px;}
.elementor-132 .elementor-element.elementor-element-56182a69 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-56182a69.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-56182a69 .elementor-heading-title {font-size: 14px;}
.elementor-132 .elementor-element.elementor-element-3f91533c > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-132 .elementor-element.elementor-element-c71e55a {text-align: left;}
.elementor-132 .elementor-element.elementor-element-c71e55a .elementor-heading-title {font-size: 20px;}
.elementor-132 .elementor-element.elementor-element-c71e55a > .elementor-widget-container {margin: 0px 0px 20px 0px;}
.elementor-132 .elementor-element.elementor-element-e08bc6b > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-132 .elementor-element.elementor-element-da046e6 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-da046e6.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-da046e6 .elementor-heading-title {font-size: 14px;}
.elementor-132 .elementor-element.elementor-element-5d9b03f2 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-5d9b03f2 .elementor-heading-title {font-size: 20px;}
.elementor-132 .elementor-element.elementor-element-5d9b03f2 > .elementor-widget-container {margin: 0px 0px 20px 0px;}
.elementor-132 .elementor-element.elementor-element-4d1f9d31 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-4d1f9d31.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-4d1f9d31 .elementor-heading-title {font-size: 14px;font-weight: 700;}
.elementor-132 .elementor-element.elementor-element-4d5d5a36 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-4d5d5a36.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-4d5d5a36 .elementor-heading-title {font-size: 14px;}
.elementor-132 .elementor-element.elementor-element-559961b5 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-559961b5.elementor-widget-heading .elementor-heading-title {color: #222;}
.elementor-132 .elementor-element.elementor-element-559961b5 .elementor-heading-title {font-size: 14px;}
.elementor-132 .elementor-element.elementor-element-31ca206c > .elementor-element-populated {padding: 0px 0px 0px 0px;}
.elementor-132 .elementor-element.elementor-element-57366583 {text-align: left;}
.elementor-132 .elementor-element.elementor-element-57366583 .elementor-image img {width: 200px;}
.elementor-132 .elementor-element.elementor-element-094353d {border-style: dotted;border-width: 0px 0px 0px 0px;border-color: #d8d8d8;transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;margin-top: 0px;margin-bottom: 0px;padding: 0px 0px 10px 0px;}
.elementor-132 .elementor-element.elementor-element-094353d > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-132 .elementor-element.elementor-element-033b882 {text-align: center;width: 100%;max-width: 100%;align-self: center;}
.elementor-132 .elementor-element.elementor-element-033b882 .elementor-heading-title {font-size: 14px;}
@media (max-width:1024px) {.elementor-132 .elementor-element.elementor-element-3ee58de3 {padding: 70px 30px 80px 30px;}
	.elementor-132 .elementor-element.elementor-element-15cc81cb .elementor-heading-title {font-size: 32px;line-height: 1.3em;}
	.elementor-132 .elementor-element.elementor-element-b11a31d > .elementor-element-populated {padding: 0px 20px 0px 20px;}}
@media (max-width:767px) {.elementor-132 .elementor-element.elementor-element-153ccc61 > .elementor-element-populated {padding: 0px 20px 0px 20px;}
	.elementor-132 .elementor-element.elementor-element-59f76f77 > .elementor-element-populated {margin: 30px 0px 0px 0px;padding: 0px 20px 0px 20px;}
	.elementor-132 .elementor-element.elementor-element-30b61a1f {width: 50%;}
	.elementor-132 .elementor-element.elementor-element-30b61a1f > .elementor-element-populated {margin: 0px 0px 30px 0px;}
	.elementor-132 .elementor-element.elementor-element-3f91533c {width: 50%;}
	.elementor-132 .elementor-element.elementor-element-e08bc6b {width: 50%;}
	.elementor-132 .elementor-element.elementor-element-e08bc6b > .elementor-element-populated {margin: 0px 0px 30px 0px;}
	.elementor-132 .elementor-element.elementor-element-31ca206c {width: 50%;}}
@media (min-width:768px) {.elementor-132 .elementor-element.elementor-element-153ccc61 {width: 35%;}
	.elementor-132 .elementor-element.elementor-element-59f76f77 {width: 65%;}
	.elementor-132 .elementor-element.elementor-element-e08bc6b {width: 25.599%;}
	.elementor-132 .elementor-element.elementor-element-31ca206c {width: 24.401%;}}